body{
    background-color: #5057;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: #0004;
}

body::-webkit-scrollbar-thumb{
    background-color: #505;
    border-radius: 15px;
}

.nav-bar{
    width: 100%;
    background-color: #5059;
    display: flex;
    border-radius: 15px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-bar img{
    width: 90px;
}

.pokemons{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.ld{
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    position:absolute;
}
  
.load{
    border: 15px solid rgb(115, 83, 83);
    border-top-color:#505;
    border-top-style: groove;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  
    position:absolute;
    top:0;
    
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
  
}
  
.loading label{
    color:#505;
    top:55%;
    text-align:center
}
  
  
@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform:rotate(360deg);}
  
}

.cards{
    display: grid;
    grid-row: 1 / 3;
    background-color: #0005;
    width: 200px;
    height: 300px;
    padding: 10px;
    margin:10px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

.cards header img{
    width: 150px;
    background-color: #5055;
    border-radius: 40%;
    border-bottom: 5px solid #000;
}

.cards .body{
    width: 200px;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cards h1{
    color:rgb(242, 174, 174);
    height:40px;
    margin-bottom: 10px ;
}

.cards h4{
    color:white;
    font-size: 20px;
    margin-top: 0;
}

.cards .body p{
    margin-top: 0;
    text-decoration: underline;
}

.navigation{
    display: block;
    width: 90%;
}

.navigation .pagination{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.navigation li{
    display: flex;
    text-decoration: none;
    border: 1px solid #505;
    padding: 10px;
    cursor: pointer;
}
.navigation li:hover{
    background-color: #5053;
}
.navigation li a:focus{
    background-color: #505;
}